.what-we-need{
    margin: 0;
    width: 100%;
    padding: 7rem 0 7rem 0;
}

.what-we-need .main-description{
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }

.what-we-need .need{
    color: black!important;

    }    
    .what-we-need .need img{
        border-radius: 20px;
        width: 300px;
        height: 250px;
        opacity: 0.75;
    }
    .what-we-need .need .description-need{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 100px!important;
    }
    @media screen and (max-width: 480px){
        .what-we-need .need{
            padding-top: 2rem;
        }
    }