.about-page{
    height: 100%;
    width: 100%;
    margin: 0;
    }
    .about-page .monospace {
        font-family: "Lucida Console", Courier, monospace;
    }
    .about-page .comic-sans{
        font-family: "Comic Sans MS", cursive, sans-serif;
    }
    @media screen and (max-width: 1500px){
        .about-page .monospace{
            font-size: 14px;
        }
        .about-page .comic-sans{
            font-size: 14px;
        }
    }
    .about-page h3, .about-page h5{
        color: #46749c;
    }

.section-title::after, .section-title::before{
    content: "-";
    display: inline-block;
    height: 2px;
    margin: 0 10px;

}

